@model Restaurant.ViewModels.AllergyGroupFoodChain

<h1>Avoid Allergies</h1>

<form method="get">
    <div class="form-group">
        <p>
            Select Allergy Group:
            @Html.DropDownList("allergyselect", new SelectList(Model.AllergyGroups, "GroupID", "GroupName"), new { @id = "groupSelect" })
            <input type="hidden" id="hiddenGroupSelect" name="selectedValue" />
            <input type="submit" value="Search" class="search-btn" /> |
            <a asp-action="AvoidAllergy">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Restaurant Menu
            </th>
            <th>
                Gluten Free Options?
            </th>
            <th>
                Vegetarian Options?
            </th>
            <th>
                Vegan Options?
            </th>
            <th>
                Dairy Free Options?
            </th>
            <th>
                Nut Free Options?
            </th>
            <th>
                Other Allergies Accommodated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodChains)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodChainName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.MenuLink != null)
                    {
                        <p>Menu Provided</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlutenFreeOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VegetarianOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeganOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DairyFreeOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NutFreeOptions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherOptions)
                </td>
            </tr>
        }
    </tbody>
</table>

<p class="d-none">@ViewData["AllergyNames"]</p>
