@model Restaurant.Models.AllergyGroup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Allergy Group - @Html.DisplayFor(model => model.GroupName)</h4>
<hr />
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd>
            <div class="container">
                <table class="table table-striped table-borderless">
                    <tr>
                        <th>
                            AllergyID
                        </th>
                        <th>
                            Allergy Name
                        </th>
                    </tr>
                    @foreach (var item in Model.Allergies)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AllergyID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
